<!-- Add your site or application content here -->
{% extends "base.html" %}
{% block head %}
<!-- add header extensions here -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/crew.css')}}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row"><div class="col-md-4 col-xs-8">
            <button class="btn btn-default" id="removeButton">Remove selected</button>
        </div></div>
        <hr>
        <div class="panel" id="orders">
        </div>
    </div>
    <script src="{{url_for('static', filename='js/crew.js')}}"></script>
{% endblock %}