<!-- Add your site or application content here -->
{% extends "base.html" %}
{% block head %}
<!-- add header extensions here -->
<link rel="stylesheet" href="{{url_for('static', filename='css/passenger.css')}}">
{% endblock %}

{% block body %}

<div id="main-menu">
  <h1><center>QHopper</center></h1>

<div id="content" class="col-xs-12">

    <div id="item" class="col-xs-12 card" onclick="changeView('main-menu', 'drinks')">
    <i class="glyphicon glyphicon-glass"></i>
      Drink Menu
    </div>

    <div id="item" class="col-xs-12 card" onclick="changeView('main-menu', 'snacks')">
    <i class="glyphicon glyphicon-apple"></i>
      Snack Menu
    </div>

    <div id="item" class="col-xs-12 card" onclick="changeView('main-menu', 'services')">
<i class="glyphicon glyphicon-user"></i>
      Other Services
    </div>

    <div id="item" class="col-xs-12 card" onclick="changeView('main-menu', 'services')">
      Swag
    </div>

  </div>
</div>


<div hidden id="drinks" class="submenu">
  <h1><center>Drink Menu</center></h1>
  <!-- populates with js -->
</div>

<div hidden id="snacks" class="submenu">
  <h1><center>Snack Menu</center></h1>
</div>

<div hidden id="services" class="submenu">
  <h1><center>Other Services</center></h1>
</div>
{% endblock %}
