<!-- Add your site or application content here -->
{% extends "base.html" %}
{% block head %}
<!-- add header extensions here -->
<link rel="stylesheet" href="{{url_for('static', filename='css/passenger.css')}}">
{% endblock %}

{% block body %}

<div id="main-menu">
  <h1><center>QHopper</center></h1>

  <div id="content">
  
    <div id="item" class="col-xs-6 card" onclick="changeView('main-menu', 'drinks')">
      <br>Drink Menu
    </div>
    <div id="item" class="col-xs-6 card" onclick="changeView('main-menu', 'snacks')">
      <br>Snack Menu
    </div>
    <div id="item" class="col-xs-6 card" onclick="changeView('main-menu', 'services')">
      <br>Other Services
    </div>
    
  </div>
</div>

<div hidden id="drinks" class="submenu">
  <h1><center>Drink Menu</center></h1>

  <h3>Soft Drink</h3>
    <div class="menuitem">
      Coke
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Sprite
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Fanta
      <button type="button" class="menubutton">Request</button>
    </div>
    
  <h3>Juice</h3>
    <div class="menuitem">
      Orange Juice
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Apple Juice
      <button type="button" class="menubutton">Request</button>
    </div>
    
  <h3>Tea and Coffee</h3>
    <div class="menuitem">
      English Breakfast
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Green Tea
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Coffee
      <button type="button" class="menubutton">Request</button>
    </div>
    
  <h3>Alcoholic Beverages</h3>
    <div class="menuitem">
      Red Wine
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      White Wine
      <button type="button" class="menubutton">Request</button>
    </div>
    <div class="menuitem">
      Beer
      <button type="button" class="menubutton">Request</button>
    </div>
    
</div>

<div hidden id="snacks" class="submenu">
  <h1><center>Snack Menu</center></h1>
  
  <div class="menuitem">
    Peanuts
    <button type="button" class="menubutton">Request</button>
  </div>
  <div class="menuitem">
    Chips
    <button type="button" class="menubutton">Request</button>
  </div>
  
</div>

<div hidden id="services" class="submenu">
  <h1><center>Other Services</center></h1>
  
  <div class="menuitem">
    Blanket
    <button type="button" class="menubutton">Request</button>
  </div>
  <div class="menuitem">
    Pillow
    <button type="button" class="menubutton">Request</button>
  </div>
  <div class="menuitem">
    Headphones
    <button type="button" class="menubutton">Request</button>
  </div>
  
</div>
{% endblock %}
